<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>


    <div class="top-wrapper">

      <div class="top-detail">
    
          <h2 class="subtitle">やるべきことを明確に</h2>
          <h1 class="title">やることリスト</h1>
          <p class="description">
          シンプルなやることリストです
          <br>
          まずはリストに登録してみましょう。
          </p>
          <a href="/index" class="index-button">一覧を見る</a>

      </div>
  

    </div>



</body>
</html>
